---
const { value, icon } = Astro.props;
---

<label
  for={value}
  class="flex cursor-pointer pb-1"
>
  <input
    id={value}
    type="radio"
    name="opciones"
    value={value}
    class="peer hidden"
  />
  <span
    class="flex items-center w-full
  peer-checked:bg-orange-600 peer-checked:text-white transition-all duration-200 ease-in-out hover:text-white py-1 px-2 rounded-md gap-2 justify-start"
  >
    <i class={icon}></i>
    <slot />
  </span>
</label>
