---
const links = [
  { name: 'Inicio', href: '/' },
  { name: 'Acerca de', href: '/about' },
  { name: 'Contacto', href: '/contact' }
];
---
<nav class="w-full">
    <ul class="w-full flex justify-center gap-5">
      {links.map(link => (
        <li>
          <a class=" hover:text-white text-lg px-4 py-2" href={link.href}>{link.name}</a>
        </li>
      ))}
    </ul>
  </nav>