---
import BrokenText from "../components/brokenText.astro";
import NavLink from "../components/navLink.astro";
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <header class="sticky top-0 left-0 w-full flex  flex-col justify-around items-center pb-5 no-select">
      <BrokenText
        text="HORROR IA"
        textColor="#FF7F00"
        shadowColor1="#FF7F00"
        shadowColor2="#8B0000"
      />
      <NavLink />
    </header>
    <div>
      <slot />
    </div>
  </body>
  <style is:global>
    html {
      font-family: system-ui, sans-serif;
      @apply bg-zinc-900 text-white;
    }
    body {
      @apply md:grid md:place-content-center;
    }
    body > div {
      @apply container;
    }
    .no-select {
    user-select: none; /* Para navegadores modernos */
    -webkit-user-select: none; /* Para Safari */
    -moz-user-select: none; /* Para Firefox */
    -ms-user-select: none; /* Para IE/Edge */
  }
  </style>
</html>
